gateway/node_modules/
gateway/.env.development

apiBlog/node_modules/
apiBlog/.env.development

stressTest/venv/
stressTest/__pycache__/

.idea/
.vscode/


*/uploads/

#mac files ignore
.DS_Store


auth/data/tmp/*