gateway/node_modules/
gateway/pnpm-lock.yaml

apiBlog/node_modules/
apiBlog/pnpm-lock.yaml

apiAcademy/node_modules/
apiAcademy/pnpm-lock.yaml

auth/data/tmp/
auth/node_modules/

stressTest/venv/
stressTest/__pycache__/

.idea/
.vscode/


*/uploads/

#mac files ignore
.DS_Store


auth/data/tmp/*

node_modules*
pnp-lock.yaml